html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  height: 100%;
  width: 100%;
}
header {
  height: 100px;
  width: 100%;
  padding: 20px 0;
  // margin-bottom: 20px;
  border-bottom: 1px solid black;
  h1 {
    line-height: 60px;
    text-align: center;
  }
}
#menu {
  width: 240px;
  height: 100%;
  margin-left: 10px;
  border-right: 1px solid #000;
  padding-top: 15px;
  span {
    display: block;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: rgb(240, 124, 124);
    }
    &.now_show {
      color: red;
    }
  }
}
#show_content {
  height: 100%;
  width: 100%;
  padding: 20px 50px;
  .title {
    font-size: 40px;
  }
  #text_block {
    padding-top: 20px;
    .textarea{
      width: 100%;
      
    }
  } 
}

#city_list{
  width: 200px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.title{
  display: block;
  text-align: center;
}
@import './assets/scss/todolist.scss';
@import './assets/scss/sort_build.scss';
@import './assets/scss/tic_tac_toe.scss'; 

